nltk==3.9.1
numpy==1.26.4
triton==2.1.0
accelerate==0.34.2
attrs==24.2.0
certifi==2024.8.30
click==8.1.7
torch==2.1.1
deepspeed==0.14.4
pandas==2.2.3
docker-pycreds==0.4.0
filelock==3.16.1
gitdb==4.0.11
gitpython==3.1.43
hjson==3.1.0
idna==3.10
jinja2==3.1.4
markupsafe==3.0.2
msgpack==1.1.0
networkx==3.4.2
ninja==1.11.1.1
packaging==24.1
platformdirs==4.3.6
psutil==6.1.0
py-cpuinfo==9.0.0
pytz==2024.2
pyyaml==6.0.2
scikit-learn==1.5.2
sentry-sdk==2.18.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
threadpoolctl==3.5.0
urllib3==2.2.3
wandb==0.18.5
transformers==4.46.3
datasets
faiss-gpu
zstandard
torchinfo
h5py
nltk
peft
wandb
fire
sentencepiece
absl-py